{% extends 'weather/base.html' %}
{% load crispy_forms_tags %}

{% block menu %}
{% endblock %}
{% block content %}
<br>
    <div class="container-md" style="max-width: 500px">
        <form method="POST" class="row">
            {% csrf_token %}
                <legend class="border-bottom mb-4">Register</legend>
                {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Sign Up</button>
            </div>
        </form>
    </div>

        <div class="container-md border-top pt-3" style="max-width: 500px; margin-top:15px">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login' %}"> Sign In </a>
            </small>
        </div>

{% endblock content %}